[defaults]
hostfile       = /etc/ansible/hosts
# library_path = /usr/share/my_modules/
remote_tmp     = $HOME/.ansible/tmp
pattern        = *
forks          = 500
poll_interval  = 15
sudo_user      = root
#ask_sudo_pass = True
#ask_pass      = True
transport      = smart
remote_port    = 22
module_lang    = C

# smart - gather by default, but don't regather if already gathered
# implicit - gather by default, turn off with gather_facts: False
# explicit - do not gather by default, must say gather_facts: True
gathering = implicit

#roles_path    = /etc/ansible/roles

#host_key_checking = False

sudo_exe = sudo

#sudo_flags = -H
timeout = 20
#remote_user = root
# ログを吐く設定
log_path = /var/log/ansible.log
#module_name = command
#executable = /bin/sh
#hash_behaviour = replace
#jinja2_extensions = jinja2.ext.do,jinja2.ext.i18n
#private_key_file = /path/to/file
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
#display_skipped_hosts = True
#error_on_undefined_vars = False
#system_warnings = True
#deprecation_warnings = True
# command_warnings = False


# set plugin path directories here, separate with colons
action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins

#bin_ansible_callbacks = False
#nocows = 1
#nocolor = 1

# RHEL/CentOS: /etc/pki/tls/certs/ca-bundle.crt
# Fedora     : /etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem
# Ubuntu     : /usr/share/ca-certificates/cacert.org/cacert.org.crt
#ca_file_path = 
#http_user_agent = ansible-agent
fact_caching = memory

[paramiko_connection]
#record_host_keys=False
#pty=False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=3000s
#control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
pipelining = True
#scp_if_ssh = True

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30 
#accelerate_multi_key = yes

