{{- /* Chezmoi configuration template */ -}}
{{- $email := "" -}}
{{- $name := "" -}}
{{- $githubUser := "" -}}
{{- $isWork := false -}}
{{- $cloneRepos := false -}}

{{- /* Detect OS */ -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- /* Interactive prompts for new machines */ -}}
{{- if stdinIsATTY -}}
{{-   $email = promptStringOnce . "email" "Git email address" -}}
{{-   $name = promptStringOnce . "name" "Git user name" -}}
{{-   $githubUser = promptStringOnce . "githubUser" "GitHub username" -}}
{{-   $isWork = promptBoolOnce . "isWork" "Is this a work machine" -}}
{{-   $cloneRepos = promptBoolOnce . "cloneRepos" "Clone all GitHub repositories to ~/workspace" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

# Age encryption for secrets (SSH keys, etc.)
encryption = "age"

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    githubUser = {{ $githubUser | quote }}
    isWork = {{ $isWork }}
    cloneRepos = {{ $cloneRepos }}
    osid = {{ $osid | quote }}

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1ygp4prhvutkj4kgk88g8mc3c39jy2rkvl7pxqpda0qnfd5u06cws3l0mzy"

[diff]
    exclude = ["scripts"]

[edit]
    command = "nvim"
