# emmetと競合した為、マークダウンプレビューを優先する。
# 'atom-workspace, atom-workspace atom-text-editor':
#   'ctrl-shift-D': 'markdown-preview:toggle'
'atom-text-editor:not([mini])': 'ctrl-shift-M': 'unset!'
'atom-workspace, atom-workspace atom-text-editor': 'ctrl-shift-M': 'markdown-preview:toggle'

# emmetの展開方法を変更する。'ctrl-e'は行の最後に移動する。
'.editor:not(.mini)': 'ctrl-e': 'unset!'
'.editor:not(.mini)': 'ctrl-e': 'editor:move-to-end-of-line'

